    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Aikido</h2>
                <p>Aikido is a Japanese martial art that deals with aggression by blending with and redirecting an attack rather than meeting it head on. Its techniques are based on natural flowing motion rather than strength, so aikido is suitable for both sexes and for people of all ages.</p>

                <p>As well as being an effective form of self-defence, aikido’s natural movements help to relax the body and to release stress and tension. Regular practise will improve co-ordination, posture, self confidence, concentration and fitness level.</p>
            </div>
        </div>
    </section>