    <!-- Classes Section -->
    <section id="classes" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Class times</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Venue</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mondays</td>
                        <td>Foley St</td>
                        <td>19.30 - 21.00</td>
                    </tr>
                    <tr>
                        <td>Tuesdays</td>
                        <td>DCU</td>
                        <td>20.00 - 21.30</td>
                    </tr>
                    <tr>
                        <td>Thursdays</td>
                        <td>Foley St</td>
                        <td>19.00 - 20.30</td>
                    </tr>
                    <tr>
                        <td>Saturdays</td>
                        <td>DCU</td>
                        <td>12.30 - 14.00</td>
                    </tr>
                    </tbody>
                </table>

                <h3>Locations</h3>
 
                <p>Dance Ireland <br>
                    DanceHouse <br>
                    Foley Street<br>
                    Dublin 1</p>

                <p>DCU Sport Complex<br>
                    Dublin City University<br>
                    Dublin 9</p>

                <h3>Fees</h3>
                <p>We have an introductory offer of 4 classes for €35 but we also run various promotions and beginners courses varying from €30 - €60 so do keep any eye out for them.</p>

                <p>Outside of these promotions we have a standard pricing structure of: €10 per class, or
                €50 per month for unlimited classes across all venues.</p>
                <p>If due to work or other reasons you have irregular class attendance please do not hesitate to contact us as we are happy to discuss other pricing options.  We can also concessions to students and the unemployed.</p>
            </div>
        </div>
    </section>