    <!-- Starting Section -->
    <section id="starting" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Starting Aikido</h2>
                <p>Dublin Aikikai train 3 times a week and offer classes at different levels. We run regular beginners courses to teach the basic movements required to learn Aikido in a fun and safe manor. Please <a href="#contact">contact us</a> for dates of the next course.</p>

                <p>Classes are adapted to the level of the students attending, so we can accept new enrolements between courses. Please <a href="#contact">contact us</a> for more information.</p>

                <p>Classes take place in a friendly, open environment where beginners and more advanced students train together.</p>

                <p>No special equipment is required - just loose, comfortable clothing such as tracksuit bottoms and a t-shirt. Normally once students commit to learning Aikido they purchase a <a href="https://en.wikipedia.org/wiki/Keikogi">keikogi</a>. This is not compulsory but most students find them more comfortable. Standard jodo keikogi are available in all sizes in specialist martial arts shops and larger sports stores.</p>
            </div>
        </div>
    </section>